<h1>{{ model.title }}</h1>
<div class="list">
  <div class="item" *ngFor="let item of model.list">
    <nz-card style="width:300px;">
      <p><a routerLink="/product/{{ item.id }}">{{ item.name }}</a></p>
      <img [src]="item.image" alt="">
      <p>{{ item.price }} ₽</p>
      <button (click)="add(item)">В корзину</button>
    </nz-card>
  </div>
</div>