<div class="list">
  <div *ngFor="let item of cart.list">
    <div class="item" *ngIf="item && item != null">
      <span>{{ item.name }} * {{ item.count }} = {{ item.count * item.price }}</span>
      <button (click)="add(item)">+</button>
      <button (click)="subtract(item)">-</button>
      <button (click)="remove(item)">X</button>
    </div>
  </div>

  <p>
    Общая сумма: {{ cart.summary }}
  </p>

  <button *ngIf="cart.summary" (click)="order()">Сделать заказ</button>
</div>
