<div *ngIf="model">
  <h1>{{ model.name }}</h1>
  <img [src]="model.image" alt="">
  <p>{{ model.desc }}</p>
  <ul>
    <li *ngFor="let value of model.props">{{ value.name }} - {{ value.value }}</li>
  </ul>
  <p>{{ model.price }}</p>
  <button (click)="add(model)">В корзину</button>
</div>